[submodule "rust-lua"]
	path = rust-lua
	url = https://github.com/kballard/rust-lua.git
[submodule "rust-irclib"]
	path = rust-irclib
	url = https://github.com/kballard/rust-irclib.git
[submodule "rust-toml"]
	path = rust-toml
	url = https://github.com/kballard/rust-toml.git
